EzPark_flow.json
[
    {
        "id": "cfd4ad9b.72d9b",
        "type": "tab",
        "label": "Parking_Area",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98d5a23.ecf0e6",
        "type": "function",
        "z": "cfd4ad9b.72d9b",
        "name": "Parkings_Simulation",
        "func": "function getRandomInt(max) {\n  return Math.floor(Math.random() * max);\n}\n\nvar parking_areas=[];\nparking_area=['1', '41.0737547', '14.3563383', getRandomInt(2), 'Caserta', 'Via Rossi'];\nparking_areas.push(parking_area);\nparking_area=['2', '41.0737997', '14.3563568', getRandomInt(2), 'Caserta', 'Via Rossi'];\nparking_areas.push(parking_area); \nparking_area=['3', '41.0750437', '14.3570320', getRandomInt(2), 'Caserta', 'Via Verdi'];\nparking_areas.push(parking_area); \nparking_area=['4', '41.0750480', '14.3569251', getRandomInt(2), 'Caserta', 'Via Verdi'];\nparking_areas.push(parking_area); \nparking_area=['5', '41.0750934', '14.3569521', getRandomInt(2), 'Napoli', 'Via Verdi'];\nparking_areas.push(parking_area); \nparking_area=['6', '41.0750480', '14.3569621', getRandomInt(2), 'Napoli', 'Via Verdi'];\nparking_areas.push(parking_area); \nparking_area=['7', '41.0750480', '14.3569721', getRandomInt(2), 'Caserta', 'Via Verdi'];\nparking_areas.push(parking_area); \nparking_area=['8', '41.0750480', '14.3569821', getRandomInt(2), 'Salerno', 'Via Verdi'];\nparking_areas.push(parking_area);\n\nmsg.payload=JSON.stringify(parking_areas);\nnode.warn(\"The payload is: \"+msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nconsole.log(\"Error\", \"funge\");",
        "libs": [
            {
                "var": "AWS",
                "module": "aws-sdk"
            }
        ],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "ae458efe.287f1"
            ]
        ]
    },
    {
        "id": "6a9a79ba.e57368",
        "type": "trigger",
        "z": "cfd4ad9b.72d9b",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "98d5a23.ecf0e6"
            ]
        ]
    },
    {
        "id": "7e027818.c899b8",
        "type": "function",
        "z": "cfd4ad9b.72d9b",
        "name": "Update_Free_Parking_Areas",
        "func": "AWS.config.region = 'us-east-2';\nAWS.config.lambda = { \n    endpoint: \"host.docker.internal:4566\",\n    sslEnabled: false,\n    region: 'us-east-2',\n    accessKeyId: 'test',\n    secretAccessKey: 'test'};\nvar lambda = new AWS.Lambda({endpoint: 'host.docker.internal:4566'});\n\nvar stringa=JSON.parse(msg.payload);\n\nvar params = {\n    FunctionName: 'Update_Free_Parking_Area_Function', \n    InvocationType: 'RequestResponse',\n    LogType: 'Tail',\n    Payload: msg.payload\n  };\n\n  lambda.invoke(params, function(err, data) {\n    if (err) {\n      node.warn(err);\n    } else {\n      node.warn (data.Payload);\n      return data.Payload;\n    }\n  });\n  \n  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "AWS",
                "module": "aws-sdk"
            }
        ],
        "x": 720,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "38679979.d36216",
        "type": "inject",
        "z": "cfd4ad9b.72d9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "6a9a79ba.e57368"
            ]
        ]
    },
    {
        "id": "32849cd3.cb2ae4",
        "type": "file",
        "z": "cfd4ad9b.72d9b",
        "name": "log.txt",
        "filename": "./log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "53e20e31.36f4a",
        "type": "mqtt in",
        "z": "cfd4ad9b.72d9b",
        "name": "",
        "topic": "update_parkings",
        "qos": "1",
        "datatype": "auto",
        "broker": "a57caf02.d73be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "7e027818.c899b8",
                "32849cd3.cb2ae4"
            ]
        ]
    },
    {
        "id": "ae458efe.287f1",
        "type": "mqtt out",
        "z": "cfd4ad9b.72d9b",
        "name": "",
        "topic": "update_parkings",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a57caf02.d73be",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "a57caf02.d73be",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mybroker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    }
]